.panel
  .panel-hd <span class="ico-list"></span> 无人回复的话题
  .panel-bd.user-info
    ul
      each item in topic_none
        - title = item.title.replace(/\s+/g,'')
        li: a(href="/topic/"+ item._id)= title.length >=20 ? title.slice(0,20)+'...' : title