// Essential javascripts for application to work
script(src='/public/javascripts/jquery-3.2.1.min.js')
script(src='/public/javascripts/popper.min.js')
script(src='/public/javascripts/bootstrap.min.js')
script(src='/public/javascripts/main2.js')

// The javascript plugin to display page loading on top
script(src='/public/javascripts/plugins/pace.min.js')
script(type='text/javascript', src="/public/javascripts/plugins/chart.js")
